@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Björn's Radio</h1>
    <p>
        This is an ASP.NET Core 8 MVC project for testing NuGet packages ClosedXML
        and ClosedXML.Extensions.Xml (and learning to fix some problems on the way ;-)).
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ClosedXML</h2>
        <p>
            NuGet package ClosedXML can be used to export to spreadsheet and is tested 
            in controllers Albums and Playlists - the former also testing aggregating data from
            a 1:M relationship (Songs on Album) and the latter a M.M relationship
            data (Songs in Playlist).
        </p>
    </div>
    <div class="col-md-4">
        <h2>Validation fails on create</h2>
        <p>
            Creation of SongRequest fails as navigation property isn't set, so using a
            view model without navigation property solves it.
        </p>
    </div>
    <div class="col-md-4">
        <h2>And more...</h2>
        <ul>
            <li>Client-side package <code>bootstrap-icons</code> is added using <code>libman.json</code>
                (and then added to <code>.gitignore</code> to avoid uploading to repository).
            </li>
            <li>Links are made into buttons (using Bootstrap framework).</li>
        </ul>
    </div>
</div>

<div class="text-center">
    <h2>Learn more</h2>
    <p>
        Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">
            building
            Web apps with ASP.NET Core
        </a>.
    </p>
</div>
